@media screen and (max-width:375px) {
    .main{
        width: 100%;
        height: auto;
    }

    .content{
        width: 100%;
   }

    .contents{
        display: block;
        height: auto;
    }


}

