@media screen and (max-width:750px) {
    #header{
        width: 375px;
        height: auto;
    }

    #contents .content{
        width: 375px;
   }

    #contents{
        display: block;
        height: auto;
    }


}

